.sectionTitle{
	color: #404040;
	padding: 3rem 0;
	font-size: 2.5rem;
}
.homePageContainer{
	padding: 0 3rem;
}
.homePageSection{
	width: 100%;
	min-height: calc(100vh - 100px);
	display: flex;
	align-items: center;
}
span{
	font-size: 0.8rem;
}
.homeBannerSection{
	position: relative;	
}
.homeBannerSection:before{
	content: '';
	position: absolute;
	top: 0;
	left: 300px;
	width: 400px;
	height: 320px;
	background-color: $cyan;
	;
	z-index: 1;
	transition: 1s;
}
.homeBannerSection:after{
	content: '';
	position: absolute;
	bottom: 0;
	right: 100px;
	width: 400px;
	height: 320px;
	background-color: $orange;
	;
	z-index: 1;
	transition: 1s;
}
.homeBannerSection__content{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
}
.homeBannerSection__content__textBox{
	padding: 0 3rem;
}
.homeBannerSection__content__img{
	width: 50%;
	min-width: 300px;
	padding-top: 1.5rem;
}
.recommendSection{
	justify-content: space-around;
	margin: 2rem 0;
}
.showCardContainer{
	display: flex;
	background: linear-gradient(#F5F0E6,#E1DCD9);
	padding: 2.5rem 1.5rem;
}
.showCard{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 337px;
	padding: 1rem;
	// background-color: #fff;
}
.showCard img{
	width: 200px;
}
.showCard__content{
	text-align: center;
	padding-top: 2rem;
}

.recommendContent{
	padding: 3rem 0;
	text-align: center;
}
// .recommendContent h1{
// 	font-size: 2.5rem;
// }
.igSection{
	justify-content: center;
}
.igBlockContainer{
	display: flex;
	justify-content: space-evenly;
	align-items: center
}
.igMainBlock{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}
.igMainBlock__icon{
	position: absolute;
	width: 2rem;
	top: 0;
}
.igMainBlock__content{
	padding: 2rem 0;
}
.igSubBlock{
	display: flex;
	justify-content: center;
	width: 50%;
}
.igSubBlock__mainImg{
	width: 40%;
	padding: .5rem;
}
.igSubBlock__groupImg{
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	align-items: center;
}
.blockItem {
	width: 33.3%;
	padding: .5rem;
}
.blockItem img{
	width: 100%;
	vertical-align: middle;
}
@media (max-width: 1024px){
	.homeBannerSection__content__textBox{
		padding: 0 2rem;
	}
	.showCardContainer{
		padding: 1.5rem;
	}
	.showCard{
		padding-top: 2rem;
	}
	.showCard img{
		width: 150px;
	}
	.recommendSection{
		flex-direction: column-reverse;
	}
	.recommendContent{
		padding-bottom: 4rem;
	}
	.igSection{
		padding: 2rem 0;
	}
	.igBlockContainer{
		flex-direction: column;
		padding: 2rem 0;
	}
	.igMainBlock{
		padding: 2rem 0;
		padding-top: 0;
	}
	.igSubBlock{
		width: 100%;
	}
	
}
@media (max-width: 767px){
	.sectionTitle{
		padding: 2rem 0;
	}
	.homeBannerSection:before{
		left: 50%;
		width: 50vw;
		height: 45vh;
	}
	.homeBannerSection:after{
		right: 30%;
		width: 60vw;
	}
	.homeBannerSection__content{
		flex-direction: column
	}
	.showCardContainer{
		flex-wrap: wrap;
	}
	.showCard{
		width: 100%;
	}
}
@media (max-width: 414px){
	.homeBannerSection__content__textBox{
		padding: 0 1rem;
	}
	.sectionTitle{
		padding: 1.5rem 0;
		font-size: 2rem;
	}
	.homeBannerSection{
		position: static;
	}
	.homeBannerSection:before{
    left: 0;
    width: 40vw;
    height: 350px;
	}
	.homeBannerSection:after{
		right: 0;
    width: 30vw;
    height: 100px;
	}
	.homeBannerSection__content{
		flex-direction: column-reverse;
	}
	.showCardContainer{
		flex-wrap: wrap;
	}
}

